.main {
	padding-top: 42px;
	padding-left: 110px;
	padding-bottom: 61px;
}
.breadcrumps__item {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
}
.breadcrumps__item:after {
	content: '/';
	display: inline-block;
	color: #666464;
	opacity: .8;
	font-family: 'open_sanslight_italic';
}
.breadcrumps__item:last-child:after {
	display: none;
}
.breadcrumps__item--link {
	font-family: 'open_sanslight_italic';
	color: #f9aa42;
}
.breadcrumps__item--link-active {
	text-decoration: none;
	color: #666464;
}
.main__caption {
	font-size: 49px;
	font-family: 'open_sansbold';
	margin-top: 18px; 
	text-transform: uppercase;
	letter-spacing: 2.5px;
}
.comments {
	list-style-type: none;
	margin-top: 8px;
}
.comment {
	padding-bottom: 27px;
	padding-top: 30px;
	border-bottom: 1px solid #f5f5f5;
}
.comment:last-child {
	border-bottom: none;
}
.comment__avatar {
	width: 160px;
	height: 160px;
	background-size: cover;
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
}
.comment__avatar--new {
	text-align: center;
}
.comment__avatar--new .comment__avatar--img{
	margin-top: 20px;
	margin-left: 10px;
}
.comment__content {
	width: 700px;
	display: inline-block;
	vertical-align: top;
	margin-left: 18px;
}
.comment__date {
	font-size: 14px;
	font-family: 'open_sanslight';
	color: #656464;
	line-height: .8;
}
.comment__name {
	font-size: 18px;
	font-family: 'open_sansbold';
	line-height: 2.1;
}
.comment__text {
	font-size: 18px;
	font-family: 'open_sanslight';
	color: #3f3d3d;
	line-height: 1.7;
}

.pagination {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #656464;
	margin-left: 239px;
	margin-top: 16px;
}

.pagination__block, .pagination__block--1, .pagination__item {
	display: inline-block;
}
.pagination__block--1 {
	margin-left: 30px;
	margin-right: 16px;
}
.pagination__block {
	padding-left: 10px;
}
.pagination__link {
	width: 20px;
	height: 20px;
	font-weight: 700;
	color: #221f1f;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 2;
	margin-left: .7px;

}
.pagination__link-front {
	margin-left: 8px;
}

.pagination__link--current {
	background: #27273e;
	border-radius: 2px;
	color: white;
	width: 25px;
	height: 25px;
}
.pagination__link:hover {
	color: #f89513;
	transition: 0.3s;
}
.pagination__link-front, .pagination__link-back {
	text-decoration: none;
}

.pagination__link--disabled:hover {
	color: rgba(39, 39, 62, 0.3);
	transition: 0.3s;
}
.active {
	color: #f89513;
}

.advertising {
	width: 100%;
	background: #131415;
	text-align: left;
	color: white;
	min-height: 170px;
	background-image: url(../img/bg/Group1.png);
	margin-bottom: 60px;
	display: block;
}
.contentbox {
	padding: 22px 218px 30px 218px;
	font-size: 18px;
	font-family: 'open_sanslight';
	line-height: 1.7;
}
.contentbox__strong {
	color: #e98c13;
	font-family: 'open_sansbold';
}
.form__comments {
	border-radius: 3px;
	max-width: 700px;
	background: #f5f5f5;
	margin: 0 auto;
	margin-bottom: 60px;
	position: relative;
	font-family: 'open_sanslight';
	padding: 42px 70px 50px 70px;
	box-sizing: border-box;
}
.form__caption {
	font-size: 49px;
	font-family: 'open_sansbold';
}
.form__input {
	display: inline-block;
	margin-top: 16px;;
}
.form__input:first-child {
	margin-right: 16px;
}
.form__inputs {
	margin-bottom: 18px;
}
.form__textarea {
}
.form__input--signature {
	display: block;
	color: black;
	font-weight: 600;
	color: #3f3d3d;
	margin-bottom: 6px;
}
.form__input--field {
	width: 270px;
	height: 45px;
	border: none;
	border-radius: 3px;
	outline: 0;
	padding-left: 12px;
	padding-right: 12px;
	box-sizing: border-box;
}
.form__input--field:focus, .form__input--message:focus {
	border: 1px solid #f89513;
	box-sizing: border-box;
}
.form__input--message {
	width: 560px;
	height: 90px;
	border-radius: 3px;
	border: none;
	box-sizing: border-box;
	outline: none;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 4px;
	padding-right: 10px;
	letter-spacing: .3px;
	resize: none;
	color: #221f1f;
}
.form__radiobutton {
	display: block;
}
.radiobutton__radio {
	display: inline-block;
}
.radiobutton__button {
	display: inline-block; 
	float: right;
	margin-top: 18px;
}
.radiobutton__radio--label {
	margin-bottom: 9px;
}
.radio {
	width: 20px;
	height: 20px;
	color: red;
	background: red;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	cursor: pointer;
	opacity: 0;
	position: absolute;
}
.label--radio {
	cursor: pointer;
	display: inline-block;
}
.label--radio:last-child {
	margin-left: 18px;
}
.radio__text {
	display: inline-block;
	vertical-align: 4px;
}
.radio:checked ~ .radio__styles {
	background: url(../img/icons/checked.png) no-repeat;
}
.radio:checked ~ .radio__text {
	color: #f89513;
}
.radio__styles {
	background: url(../img/icons/no__checked.png)no-repeat;
	display: inline-block;
	z-index: 999;
	width: 20px;
	height: 20px;
	padding-left: 4px;
}
.button {
	width: 125px;
	height: 45px;
	color: white;
	background: #1c1f1d;
	border: none;
	border-radius: 3px;
	font-size: 12px;
	font-family: 'open_sansbold';
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.button:hover {
	background: #f89513;
}