@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

* {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  scroll-behavior: smooth; }

.wrapper {
  width: 100%;
  height: 100%; }
  .wrapper .main-content {
    height: 100%;
    min-height: 650px; }
    .wrapper .main-content .section {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.31);
      min-width: 940px;
      min-height: 650px; }
      .wrapper .main-content .section .container {
        width: 940px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 17px;
  border-radius: 5px;
  background-color: #e25028;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8125rem;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  text-transform: uppercase; }
  .order-link:hover {
    background-color: #cb411b; }

.nav-bar {
  color: white;
  position: fixed;
  right: 50px;
  top: 90px;
  z-index: 9999999; }

.nav-bar__link {
  margin-bottom: 1px;
  background: url(../img/icons/el.png) center no-repeat;
  list-style-type: none;
  width: 20px;
  height: 20px;
  display: block; }
  .nav-bar__link:hover {
    background: url(../img/icons/el2.png) center no-repeat; }

.nav-bar__link--active {
  background: url(../img/icons/el2.png) center no-repeat; }

.hero {
  padding-top: 10px;
  background: url(../img/bg/bg1.jpg) center no-repeat;
  background-size: cover;
  position: relative; }
  .hero:before {
    content: "<div></div>";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/bg/texture.png);
    z-index: 1;
    opacity: .5; }
  .hero .hero__container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .hero .hero__container .header {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 2; }
      .hero .hero__container .header .nav .nav__list {
        margin: 0;
        padding: 0; }
      .hero .hero__container .header .nav .nav__item {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap; }
        .hero .hero__container .header .nav .nav__item:after {
          display: inline-block;
          vertical-align: middle;
          content: ' ';
          width: 4px;
          height: 4px;
          border-radius: 2px;
          background-color: #fff;
          margin: 0 15px; }
        .hero .hero__container .header .nav .nav__item:last-child:after {
          display: none; }
        .hero .hero__container .header .nav .nav__item .nav__link {
          color: #fff;
          text-decoration: none;
          display: inline-block;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 13px; }
          .hero .hero__container .header .nav .nav__item .nav__link:hover {
            text-decoration: underline; }

.header__menu {
  margin-left: 180px; }

.hero__content {
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-bottom: 15%; }

.section__title {
  color: #f9b43b;
  font-size: 72px;
  font-weight: 100;
  line-height: 1.42;
  margin: 0;
  font-family: "gagalinregular"; }

.hero__img, .hero__description {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 60px; }
  .hero__description .hero__description-text {
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    line-height: 1;
    font-family: 'lifehackmedium';
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    letter-spacing: -2px; }

.hero__arrow-scroll {
  z-index: 2;
  -webkit-transform: translate(0, -40px);
  -ms-transform: translate(0, -40px);
  transform: translate(0, -40px); }
  .hero__arrow-scroll:hover {
    -webkit-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    transform: translate(0, -35px);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }

.arrow-scroll__link svg {
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3); }

.section--best {
  background: url(../img/bg/bg2.jpg) center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .section--best .best__caption {
    color: #2f3234;
    font-weight: 300;
    font-size: 72px;
    font-family: 'gagalinregular';
    margin-bottom: 40px;
    -webkit-transform: translate(0, -45px);
    -ms-transform: translate(0, -45px);
    transform: translate(0, -45px); }
  .section--best .best__features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-transform: translate(0, -55px);
    -ms-transform: translate(0, -55px);
    transform: translate(0, -55px); }
    .section--best .best__features .features__block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 33.33%; }
      .section--best .best__features .features__block:first-child {
        -webkit-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
        transform: translate(0, -10px); }

.features__undercaption {
  color: #2f3234;
  font-size: 24.12px;
  font-family: 'lifehackmedium';
  -ms-flex-item-align: center;
  align-self: center; }

.features__block:nth-child(2) {
  margin: 0 20px 0 20px; }

.features__underblock {
  color: #6e6f6f;
  font-size: 14.01px;
  font-family: 'ubuntulight';
  line-height: 1.6; }

.comment__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.comment__comments {
  position: relative;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: gray;
  width: 25%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.comment__comments:nth-child(1) {
  background: url(../img/content/photo8.jpg) 50% 30% no-repeat;
  background-size: cover; }

.comment__comments:nth-child(2) {
  background: url(../img/content/photo7.jpg) center no-repeat;
  background-size: cover; }

.comment__comments:nth-child(3) {
  background: url(../img/content/photo6.jpg) 65% 15% no-repeat;
  background-size: 300%; }

.comment__comments:nth-child(4) {
  background: url(../img/content/photo1.jpg) 80% 100% no-repeat;
  background-size: cover; }

.comment__comments:nth-child(5) {
  background: url(../img/content/photo5.jpg) center no-repeat;
  background-size: cover; }

.comment__comments:nth-child(6) {
  background: url(../img/content/photo4.jpg) 30% 100% no-repeat;
  background-size: cover; }

.comment__comments:nth-child(7) {
  background: url(../img/content/photo3.jpg) center no-repeat;
  background-size: cover; }

.comment__comments:nth-child(8) {
  background: url(../img/content/photo2.jpg) center no-repeat;
  background-size: cover; }

.comments__button {
  background: #2f3234;
  text-align: center;
  padding: 14px 15px 14px 20px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'ubuntumedium'; }
  .comments__button:hover {
    background: #1f2122; }

.comments__caption {
  font-family: 'gagalinregular';
  font-size: 14px;
  color: white;
  text-align: left;
  margin-bottom: 15px; }

.comments__comment-text {
  color: white;
  font-family: 'ubuntulight';
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5; }

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0;
  z-index: 1;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.comments__caption, .comments__comment-text, .comments__button {
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 2; }

.comment__comments:hover .filter {
  opacity: .4; }

.comment__comments:hover .comments__caption {
  opacity: 1; }

.comment__comments:hover .comments__comment-text {
  opacity: 1; }

.comment__comments:hover .comments__button {
  opacity: 1; }

#map {
  width: 100%;
  height: 100%; }

.section--contacts {
  position: relative; }

.section--contacts__footer {
  position: absolute;
  width: 100%;
  background: #0e0e0e;
  padding: 7px 70px 7px 70px;
  z-index: 2;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  line-height: 1.9;
  letter-spacing: .3px; }

.footer__contact {
  margin-left: 0 auto; }

.footer__text-one {
  color: white; }

.footer__text-two {
  color: #e25028;
  font-family: 'ubuntubold'; }

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: white;
  width: 20px;
  height: 20px;
  margin-left: 16px;
  opacity: .5;
  margin-top: 14px; }
  .icon:hover {
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.sicial__link {
  text-decoration: none; }

.text-two__link {
  color: #e25028;
  text-decoration: none; }

.section--comand {
  background: url(../img/bg/bg4.jpg) 50% 0 no-repeat;
  background-size: cover;
  position: relative; }

.comand__right-content {
  position: relative;
  height: 100%;
  width: 50%;
  z-index: 3;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgba(47, 50, 52, 0.9); }

.section__title--comand {
  font-weight: 100; }

.comand__item {
  font-family: 'gagalinregular';
  font-weight: 100;
  cursor: pointer; }

.svg_com {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  margin-right: 5px; }
  .svg_com:hover {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.comand__item {
  height: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  overflow: hidden;
  margin-bottom: 20px; }
  .comand__item:hover {
    color: #f9b43b;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.comand__item--active {
  height: auto;
  overflow: visible;
  color: #f9b43b;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .comand__item--active .comand__undercaption {
    color: white; }
  .comand__item--active .text__undertext {
    color: white; }
  .comand__item--active .comand__undercaption {
    opacity: 1; }
  .comand__item--active .text__undertext {
    opacity: 1; }
  .comand__item--active .comand__container-img {
    opacity: 1; }

.comand__undercaption {
  opacity: 0; }

.text__undertext {
  opacity: 0; }

.comand__container-img {
  opacity: 0; }

.comand__item--active .svg_com {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.comand__img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  visibility: hidden; }

.comand__container-img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  background: url(../img/content/face.jpg) 65% 0 no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 40px; }

.comand__undercaption {
  font-family: 'ubuntubold'; }

.text__undertext {
  font-family: 'ubuntulight'; }

.comand__underinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.section__menu {
  background: url(../img/bg/bg5.jpg) center no-repeat;
  background-size: cover;
  position: relative; }

.section__title--menu {
  font-weight: 100;
  position: absolute;
  top: 100px;
  left: 90px;
  color: white;
  letter-spacing: 2px; }

.menu__right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  color: white;
  font-size: 40px;
  font-family: 'gagalinregular';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.menu__content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid black;
  width: 80px;
  position: relative;
  cursor: pointer; }
  .menu__content:hover .menu__title {
    color: #f9b43b; }
  .menu__content:before {
    content: "";
    height: 100%;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    opacity: .7; }

.menu__content--active {
  width: 540px; }

.menu__content--active .menu__title {
  position: relative;
  top: 280px;
  left: -240px;
  text-align: right;
  color: #f9b43b; }

.menu__content--active .menu__text {
  -webkit-transform: translate(0, -160px);
  -ms-transform: translate(0, -160px);
  transform: translate(0, -160px);
  font-size: 14px;
  padding: 50px 50px 50px 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.menu__title {
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
  white-space: nowrap;
  position: relative;
  font-weight: 100;
  text-align: right;
  top: 320px;
  cursor: pointer; }

.menu__text {
  font-size: 14px;
  font-family: 'ubuntulight';
  overflow: hidden;
  display: none;
  position: relative;
  margin-top: 100px; }

.menu__content--active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #2f3234;
  width: 540px;
  height: 100%;
  opacity: .9; }

.section__slider {
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(#e25028), to(#f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b, #e25028, #f9b43b);
  background: -o-linear-gradient(bottom, #f9b43b, #e25028, #f9b43b);
  background: linear-gradient(0deg, #f9b43b, #e25028, #f9b43b); }

.section__form {
  background: url(../img/bg/bg7.jpg);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.section__title--form {
  text-align: center;
  font-weight: 100;
  margin-top: 0;
  padding-top: 0; }

.form__form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.input__name-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  .input__name-phone .input__name {
    max-width: 220px;
    width: 220px;
    max-height: 40px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: .5px solid lightgray; }
    .input__name-phone .input__name:last-child {
      margin-left: 20px; }
    .input__name-phone .input__name:focus {
      border: 2px solid #f9b43b;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }

.street__input {
  max-width: 460px;
  width: 460px;
  max-height: 40px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: .5px solid lightgray;
  margin-bottom: 20px; }
  .street__input:focus {
    border: 2px solid #f9b43b;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.input__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .input__home .home__input {
    max-width: 100px;
    min-height: 40px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: .5px solid lightgray;
    margin-right: 20px; }
    .input__home .home__input:focus {
      border: 2px solid #f9b43b;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }

.form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.comment__text {
  min-width: 460px;
  max-height: 110px;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  border: .5px solid lightgray;
  margin-top: 35px;
  margin-bottom: 20px; }
  .comment__text:focus {
    border: 2px solid #f9b43b;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.form__radio {
  margin-bottom: 20px;
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px); }

.radio__radiobutton {
  height: 15px;
  width: 15px;
  opacity: 0;
  display: none; }

.form__label {
  margin-right: 20px;
  color: #e1e1e1;
  padding-top: 10px;
  padding-left: 30px;
  background: url(../img/icons/el3.png) no-repeat 0% 90%; }
  .form__label:nth-child(2) {
    margin-left: 20px; }

.radio__radiobutton:checked + .form__label {
  background: url(../img/icons/el4.png) no-repeat 0% 90%; }

/*# sourceMappingURL=main.css.map */