.breadcrumps__list {
	margin-top: 42px;
	margin-left: 72px;
}
.breadcrumps__item {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
}
.breadcrumps__item:after {
	content: '/';
	display: inline-block;
	color: #666464;
	opacity: .8;
	font-family: 'open_sanslight_italic';
}
.breadcrumps__item:last-child:after {
	display: none;
}
.breadcrumps__item--link {
	font-family: 'open_sanslight_italic';
	color: #f9aa42;
}
.breadcrumps__item--link-active {
	text-decoration: none;
	color: #666464;
}
.main__caption {
	font-size: 49px;
	font-family: 'open_sansbold';
	margin-top: 18px; 
	margin-left: 110px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
.service {
	margin-left: 110px;
	margin-top: 39px;
}
.service__list, .service__item {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}
.service__item--list, .service__item--item {
	display: block;
}
.service__item {
	width: 290px;
	margin-bottom: 40px;
	border-radius: 3px;
	position: relative;
	float: left;
}
.service__item:nth-child(2) {
	margin-right: 30px;
	margin-left: 20px;
}
.service__item:nth-child(5) {
	margin-right: 30px;
	margin-left: 20px;
	}
.service__item:nth-child(4) {
	margin-bottom: 0;
}
.service__item:nth-child(5) {
	margin-bottom: 0;
}
.service__item:nth-child(6) {
	margin-bottom: 0;
}
.service__item--image-block {
	width: 250px;
	height: 152px;
	margin-left: 0;
	background-position: center;
	background-size: cover;
}

.service__item--image {
	width: 250px;
	height: 152px;
	visibility: hidden;
}
.service__item-filter {
	width: 250px;
	height: 152px;
	background-color: rgba(0 ,0 ,0 , .5);
	position: absolute;
	top: 0;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'open_sansbold';
	padding-top: 66px;
	box-sizing: border-box;
	letter-spacing: 1px;
}
.service__item--caption {
	font-size: 16.5px;
	font-family: 'open_sansbold';
	margin-top: 28px;
	letter-spacing: 1px;
}
.service__item--text {
	font-family: 'open_sanslight';
	font-size: 14px;
	line-height: 1.5;
	display: inline-block;
	margin-top: 8px;
	float: left;
}
.partners__caption {
	text-transform: uppercase;
	font-family: 'open_sansbold';
	font-size: 49px;
	margin-left: 2px;
	letter-spacing: 1.3px;
	margin-top: 15px;
}
.partners__list {
	margin-top: 76px;
	margin-left: 16px;
}
.partners__list--row {
	display: inline-block;
	margin-right: 156px;
	margin-bottom: 50px;
}
.partners__list--img {
	vertical-align: middle;
	filter: grayscale(100%) opacity(52%);
}
.partners__list--img:hover {
	filter: none;
}
.partners__list--row:nth-child(3) {
	margin-left: 42px;
}
.partners__list--row:nth-child(4) {
	margin-left: 6px;
}
.partners__list--row:nth-child(5) {
	margin-left: 8px;
}
.partners__list--row:nth-child(6) {
	margin-left: 54px;
}