* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    .main-content {
        height: 100%;
        width: 100%;
        .section {
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.31);
            min-height: rem(650px);
            @include phones {
                height: rem(800px);
            }
            @include tablets {
                height: rem(1024px);
            }
            .container {
                max-width: rem(940px);
                width: 95%;
                margin: 0 auto;
                @include phones {
                    width: 95%;
                }
                @include tablets {
                    width: 95%;
                }
            }
        }
    }
}

.order-link {
    min-width: rem(98px);
    padding: rem(10px) rem(17px);
    border-radius: rem(5px);
    background-color: $orange;
    color: #ffffff;
    text-decoration: none;
    font-size: rem(13px);
    line-height: 1.42;
    text-transform: uppercase;
    transition: .5s;
    text-transform: uppercase;
    &:hover {
        background-color: darken($orange, 14%);
    }
}

.nav-bar {
	color: white;
	position: fixed;
	right: rem(50px);
	top: rem(90px);
    z-index: 9999999;
    @include tablets {
        display: none;
    }
}
.nav-bar__link {
	margin-bottom: rem(1px);
	background: url(../img/icons/el.png) center no-repeat;
	list-style-type: none;
	width: rem(20px);
    height: rem(20px);
    display: block;
    &:hover {
        background: url(../img/icons/el2.png) center no-repeat; 
    }
}
.nav-bar__link--active {
	background: url(../img/icons/el2.png) center no-repeat;
}