* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
label, button {
    cursor: pointer;
}
button {
    border: none;
    background: none;
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    .main-content {
        height: 100%;
        width: 100%;
        .section {
            width: 100%;
            height: 100vh;
            min-height: rem(650px);
            background-color: rgba(0, 0, 0, 0.31);
            .container {
                max-width: rem(940px);
                width: 95%;
                margin: 0 auto;
                @include phones {
                    width: 95%;
                }
                @include tablets {
                    width: 95%;
                }
            }
        }
    }
}

.order-link {
    min-width: rem(98px);
    padding: rem(10px) rem(17px);
    border-radius: rem(5px);
    background-color: $orange;
    color: #ffffff;
    text-decoration: none;
    font-size: rem(13px);
    line-height: 1.42;
    text-transform: uppercase;
    transition: .5s;
    text-transform: uppercase;
    &:hover {
        background-color: darken($orange, 14%);
    }
}

.nav-bar {
	color: white;
	position: fixed;
	right: rem(50px);
	top: rem(90px);
    z-index: 9999999;
}
.nav-bar__link {
	margin-bottom: rem(1px);
	background: url(../img/icons/el.png) center no-repeat;
	list-style-type: none;
	width: rem(20px);
    height: rem(20px);
    display: block;
    &:hover {
        background: url(../img/icons/el2.png) center no-repeat; 
    }
}
.nav-bar__link--active {
	background: url(../img/icons/el2.png) center no-repeat;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    opacity: 0;
    transition: .3s;
}
.overlay__content  {
    max-width: rem(460px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .9);
    padding: rem(20px) rem(20px) rem(55px) rem(20px);
    font-size: rem(14px);
    font-family: 'ubuntulight';
    position: relative;
}
.overlay__name {
    font-size: rem(14px);
    font-family: 'gagalinregular';
    margin-bottom: rem(25px);
}
.overlay__close {
    position: absolute;
    right: rem(35px);
    top: rem(25px);
    cursor: pointer;
}
.close.icon {
  color: $orange;
  position: absolute;
  width: 18px;
  height: 18px;
}
.close.icon:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 3px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          border-radius: 100px;
}
.close.icon:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 3px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          border-radius: 100px;
}