.section--best {
    background: url(../img/bg/bg2.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    @include phones {
        padding-top: rem(35px);
    }
    .best__caption {
        color: $dark;
        font-weight: 300;
        font-size: rem(72px);
        font-family: 'gagalinregular';
        text-align: center;
        @include phones {
            margin-bottom: rem(70px);
        }
    }
.best__container {
        max-width: rem(940px);
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include phones {
            width: 95%;
        }
        @include tablets {
            width: 95%;
        }
    }
    .best__features {
    display: flex;
    text-align: center;
    @include phones {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .features__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include phones {
            display: flex;
            flex-direction: row;
            text-align: left;
            width: 100%;
            margin-bottom: rem(25px);
        }
        &:first-child {
            transform: translate(0, rem(-10px));
        }
    }
}
}
.features__underblock {
    @include phones {
        margin-right: rem(20px);
        margin-bottom: rem(20px);
    }
}
.features__undercaption {
	color: #2f3234;
	font-size: rem(24.12px);
    font-family: 'lifehackmedium';
    align-self: center;
}
.features__block:nth-child(2) {
	margin: 0 rem(20px) 0 rem(20px);
}
.features__underblock {
	color: #6e6f6f;
	font-size: rem(14.01px);
    font-family: 'ubuntulight';
    line-height: 1.6;
}