.section__form {
    background: url(../img/bg/bg7.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    @include phones {
        padding-top: rem(66px);
        padding-bottom: rem(60px);
    }
}
.section__title--form {
    text-align: center;
    font-weight: 100;
    margin-top: 0;
    padding-top: 0;
}
.form__form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    @include tablets {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}
.form__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    @include tablets {
        margin: 0 auto;
        margin-top: rem(50px);
    }
}
.input__name-phone {
    display: flex;
    margin-bottom: rem(20px);
    .input__name {
        max-width: rem(220px);
        width: rem(220px);
        max-height: rem(40px);
        border-radius: rem(5px);
        padding: rem(10px) rem(20px) rem(10px) rem(20px);
        box-sizing: border-box;
        outline: none;
        border: rem(.5px) solid lightgray;
        &:first-child {
            margin-right: rem(20px);
        }
        &:focus {
            border: rem(2px) solid $yellow;
            box-sizing: border-box;
        }
    }
}
.input__label--name {
    &:first-child {
        margin-right:rem(20px);
    }
}
.input__label {
    color: white;
    margin-bottom: rem(5px);
}
.street__input {
    max-width: rem(460px);
    width: rem(460px);
    max-height: rem(40px);
    border-radius: rem(5px);
    padding: rem(10px) rem(20px) rem(10px) rem(20px);
    box-sizing: border-box;
    outline: none;
    border: rem(.5px) solid lightgray;
    margin-bottom: rem(20px);
    &:focus {
        border: rem(2px) solid $yellow;
        box-sizing: border-box;
    }
}
.input__home {
    display: flex;
    flex-wrap: nowrap;
    .home__input {
        max-width: rem(100px);
        min-height: rem(40px);
        border-radius: rem(5px);
        padding: rem(10px) rem(20px) rem(10px) rem(20px);
        box-sizing: border-box;
        outline: none;
        border: rem(.5px) solid lightgray;
        margin-right: rem(20px);
        &:focus {
            border: rem(2px) solid $yellow;
            box-sizing: border-box;
        }
    }
}
.form__comment {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    @include tablets {
        margin: 0 auto;
    }
}
.comment__text {
    width: rem(460px);
    max-height: rem(110px);
    padding: rem(10px) rem(20px) rem(10px) rem(20px);
    outline: none;
    border-radius: rem(5px);
    border: rem(.5px) solid lightgray;
    @include tablets {
        margin-left: rem(-20px);
    }
    &:focus {
        border: rem(2px) solid $yellow;
        box-sizing: border-box;
    }
}
.form__radio {
    margin-top: 20px;
    margin-bottom: rem(20px);
    transform: translateX(rem(-20px));
    @include phones {
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
    } 
}
.radio__radiobutton {
    height: rem(15px);
    width: rem(15px);
    opacity: 0;
    display: none;
}
.form__label {
    margin-right: rem(20px);
    color: #e1e1e1;
    padding-top: rem(10px);
    padding-left: rem(30px);
    background: url(../img/icons/el3.png) no-repeat 0% 90%;
    &--checkbox {
        color: white;
        padding-left: 30px;
        background: url(../img/icons/rec1.png) no-repeat 0% 90%;
    }
    &:nth-child(2) {
        margin-left: rem(20px);
    }
}
.radio__radiobutton:checked + .form__label {
    background: url(../img/icons/el4.png) no-repeat 0% 90%;
}
.check__checkbox {
    display: none;  
}
.check__checkbox:checked + .form__label--checkbox {
    background: url(../img/icons/rec2.png) no-repeat 0% 90%;
}
.form__button {
    display: flex;
    transform: translateY(30px);
    @include phones {
		margin: 0 auto;
    }
}
.form__clear-link {
    color: white;
    margin-left: 20px;
    padding: rem(10px) rem(17px);
    font-size: rem(16px);
    letter-spacing: 1px;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.form__check {
    @include phones {
		margin: 0 auto;
    } 
}