.hero {
    padding-top: rem(5px);
    background: url(../img/bg/bg1.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/bg/texture.png);
        z-index: 1;
        opacity: .5;
    }
    .hero__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 2;
            .nav {
                .nav__item {
                    display: inline-block;
                    &:after {
                        display: inline-block;
                        vertical-align: middle;
                        content: ' ';
                        @include circle(rem(4px), #fff);
                        margin-left: rem(12px);
                        margin-right: rem(12px);
                    }
                    &:last-child:after {
                        display: none;
                    }
                    .nav__link {
                        color: #fff;
                        text-decoration: none;
                        display: inline-block;
                        text-transform: uppercase;
                        font-size: rem(13px);
                        font-family: "ubuntumedium";
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                 }
            }
        }
    }
}
.header {
    position: relative;
}
.header__menu {
    position: absolute;
    right: 14%;
    @include tablets {
        display: none;
    }
}
.hero__content {
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 15%;
    @include tablets {
        flex-direction: column;
    }
}
.section__title {
    color: $yellow;
    font-size: rem(72px);
    font-weight: 100;
    line-height: 1.42;
    margin: 0;
    font-family: "gagalinregular";
    @include tablets {
        text-align: center;
    }
}
.hero__img {
    width: 100%;
}
.hero__description {
    flex-direction: column;
    justify-content: center;
    margin-top: rem(60px);
    @include tablets {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .hero__description-text {
        color: #fff;
        font-size: rem(65px);
        font-weight: 100;
        line-height: 1;
        font-family: 'lifehackmedium';
        letter-spacing: rem(-1px);
        @include tablets {
            margin: 0 auto;
            width: 95%;
        }
        @include phones {
            font-size: rem(52px);
        }
    }
}
.hero__arrow-scroll {
    z-index: 2;
    transform: translate(0, rem(-40px));
    &:hover {
        transform: translate(0, rem(-35px));
        transition: .4s;
    }
}
.arrow-scroll__link {
    svg {
        transform: scale(3);
    }
}
.header__burger-menu {
    display: none;
    @include tablets {
        display: block;
    }
}
.order-link--hero {
    @include tablets {
        position: absolute;
        right: 10%;
        top: 25%;
    }
}