.section__menu {
    background: url(../img/bg/bg5.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}
.section__title--menu {
    font-weight: 100;
    position: absolute;
    top: 100px;
    left: 90px;
    color: white;
    letter-spacing: 2px;
}
.menu__right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    color: white;
    font-size: 40px;
    font-family: 'gagalinregular';
    display: flex;
    overflow: hidden;
}
.menu__content {
    box-sizing: border-box;
    border: 1px solid black;
    width: 80px;
    position: relative;
    cursor: pointer;
    &:hover .menu__title {
        color: $yellow;
    }
    &:before {
        content: "";
        height: 100%;
        width: 80px;
        position: absolute;
        left: 0;
        top: 0;
        background: black;
        opacity: .7;
    }
}
.menu__content--active {
    width: 540px;
}
.menu__content--active .menu__title {
    position: relative;
    top: 280px;
    left: -240px;
    text-align: right;
    color: $yellow;
}
.menu__content--active .menu__text {
    transform: translate(0, -160px);
    font-size: 14px;
    padding: 50px 50px 50px 100px;
    overflow: hidden;
    display: flex;
    position: relative;
}
.menu__title {
    transform: rotateZ(90deg);
    white-space: nowrap;
    position: relative;
    font-weight: 100;
    text-align: right;
    top: 320px;
    cursor: pointer;
}

.menu__text {
    font-size: 14px;
    font-family: 'ubuntulight';
    overflow: hidden;
    display: none;
    position: relative;
    margin-top: 100px;
}
.menu__content--active {
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: $dark;
        width: 460px + 80px;
        height: 100%;
        opacity: .9;
    }
}